@*@using RealEstateApp.Core.Application.ViewModels.User
@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.Helpers;
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

@model SaveAdminsViewModel
@{
    ViewData["Title"] = "Registro";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Admins" asp-action="RegisterDesarrollador" class="btn btn-outline-success">Registrar desarrollador</a>
        </div>
    </div>
</div>
*@