@using RealEstateApp.Core.Application.ViewModels.User
@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Dtos.Account
@using RealEstateApp.Core.Application.Helpers;
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    bool editMode = !string.IsNullOrEmpty(Model.Id);
}

@model SaveAdminsViewModel
@{
    ViewData["Title"] = editMode ? "Editar desarrollador" : "Registro de desarrollador";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body">

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <form method="post" asp-controller="Admins" asp-action="@(editMode ? "EditDesarrollador" : "RegisterDesarrollador")" enctype="multipart/form-data">

                        @if (editMode)
                        {
                            <input type="hidden" asp-for="Id" />
                        }

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Nombre: </label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Apellido: </label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cedula" class="form-label">Cedula: </label>
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo: </label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        @if (!editMode)
                        {
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Contraseña: </label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <p>123Pa$$word!</p>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        }

                        <input type="hidden" asp-for="EmailConfirmed" value="true" />
                        <input type="hidden" asp-for="Rol" value="4" />

                        <button type="submit" class="btn btn-primary float-end">
                            @if (editMode)
                            {
                                <text>Actualizar</text>
                            }
                            else
                            {
                                <text>Guardar</text>
                            }
                        </button>
                        <a asp-controller="Admins" asp-action="DesarrolladorIndex" class="btn btn-warning float-end">Volver atrás</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
